In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd

In [2]:
import tensorflow as tf

Init Plugin
Init Graph Optimizer
Init Kernel

In [3]:
tf.__version__

'2.5.0'

In [3]:
!python -V

Python 3.9.6

In [4]:
df = pd.read_csv('./data/hr-dataset.csv')

In [5]:
df

,empid,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,dept,salary
0,1001,0.38,0.53,2,157,3,0,1,0,sales,low
1,1002,0.80,0.86,5,262,6,0,1,0,sales,medium
2,1003,0.11,0.88,7,272,4,0,1,0,sales,medium
3,1004,0.72,0.87,5,223,5,0,1,0,sales,low
4,1005,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...,...
14994,15995,0.40,0.57,2,151,3,0,1,0,support,low
14995,15996,0.37,0.48,2,160,3,0,1,0,support,low
14996,15997,0.37,0.53,2,143,3,0,1,0,support,low
14997,15998,0.11,0.96,6,280,4,0,1,0,support,low
14998,15999,0.37,0.52,2,158,3,0,1,0,support,low

In [6]:
target = 'left'
features = df.columns.drop(target)

features = features.drop('empid')  # Удалим идентификатор пользователя как нерепрезентативный признак
features = features.drop('dept')
features = features.drop('salary')
print(features)

X, y = df[features].copy(), df[target]

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident',
       'promotion_last_5years'],
      dtype='object')

In [7]:
X

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years
0,0.38,0.53,2,157,3,0,0
1,0.80,0.86,5,262,6,0,0
2,0.11,0.88,7,272,4,0,0
3,0.72,0.87,5,223,5,0,0
4,0.37,0.52,2,159,3,0,0
...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,0
14995,0.37,0.48,2,160,3,0,0
14996,0.37,0.53,2,143,3,0,0
14997,0.11,0.96,6,280,4,0,0
14998,0.37,0.52,2,158,3,0,0

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3)

In [9]:
y_train.head()

8404    0
9345    0
1659    1
3722    0
6023    0
Name: left, dtype: int64

In [10]:
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense
from sklearn.metrics import accuracy_score

In [11]:
model = Sequential()
model.add(Dense(units=32, activation='relu', input_dim=len(X_train.columns)))
model.add(Dense(units=64, activation='relu'))
model.add(Dense(units=1, activation='sigmoid'))

2021-12-02 17:13:29.844432: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2021-12-02 17:13:29.845434: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

Metal device set to: Apple M1

In [12]:
model.compile(loss='binary_crossentropy', optimizer='sgd', metrics='accuracy')

In [13]:
model.fit(X_train, y_train, epochs=10, batch_size=32)

2021-12-02 17:13:38.869047: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:176] None of the MLIR Optimization Passes are enabled (registered 2)
2021-12-02 17:13:38.872752: W tensorflow/core/platform/profile_utils/cpu_utils.cc:128] Failed to get CPU frequency: 0 Hz
2021-12-02 17:13:38.999223: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:112] Plugin optimizer for device_type GPU is enabled.

Epoch 1/10
329/329 [==============================] - 4s 6ms/step - loss: 1.2546 - accuracy: 0.7574
Epoch 2/10
329/329 [==============================] - 2s 5ms/step - loss: 0.5941 - accuracy: 0.7635
Epoch 3/10
329/329 [==============================] - 2s 5ms/step - loss: 0.5520 - accuracy: 0.7635
Epoch 4/10
329/329 [==============================] - 2s 5ms/step - loss: 0.5475 - accuracy: 0.7635
Epoch 5/10
329/329 [==============================] - 2s 5ms/step - loss: 0.5471 - accuracy: 0.7635
Epoch 6/10
329/329 [==============================] - 2s 5ms/step - loss: 0.5471 - accuracy: 0.7635
Epoch 7/10
329/329 [==============================] - 2s 5ms/step - loss: 0.5471 - accuracy: 0.7635
Epoch 8/10
329/329 [==============================] - 2s 5ms/step - loss: 0.5471 - accuracy: 0.7635
Epoch 9/10
329/329 [==============================] - 2s 5ms/step - loss: 0.5470 - accuracy: 0.7635
Epoch 10/10
329/329 [==============================] - 2s 5ms/step - loss: 0.5471 - accuracy: 0.7635

In [14]:
y_hat = model.predict(X_test)
y_hat = [0 if val < 0.5 else 1 for val in y_hat]

2021-12-02 17:14:22.370637: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:112] Plugin optimizer for device_type GPU is enabled.

In [15]:
accuracy_score(y_test, y_hat)

0.7582222222222222

In [16]:
model.save('tfmodel')

INFO:tensorflow:Assets written to: tfmodel/assets

2021-12-02 17:19:28.436942: W tensorflow/python/util/util.cc:348] Sets are not currently considered sequences, but this may change in the future, so consider avoiding using them.

In [17]:
model_arch = load_model('tfmodel')